/* --------------------- /
#Articles details
/ --------------------- */
.our-article{
    display: flex;
    flex-direction: column;
    gap: 20px;
    -webkit-column-gap: 20px;
}

.article-details{
    display: grid;
    gap: 30px;
    -webkit-column-gap: 30px;
    margin-top: 30px;
    grid-template-columns: auto 30%;
}

.article-details-title h1{
    font-size: 25px;
    font-weight: 900;
    font-style: italic;
    color: #438bb8;
}

.article-image img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
}

.article-text{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    gap: 20px;
    -webkit-column-gap: 20px;
    text-align: justify;
}

.article-text h2{
    color: #438bb8;
}

.article-important-text{
    padding-left: 12px;
    font-style: italic;
    border-radius: 5px;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 5px solid #448bb9;
    border-bottom: 1px solid #ddddddf6;
}

.article-important-text i{
    font-size: 30px;
    font-style: italic;
    background: linear-gradient(to right, #438bb8, #F6C37C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.second-bloc .our-article{
    margin-top: 40px;
}

.second-bloc .display-article{
    grid-template-columns: 100%;
    margin-bottom: 30px;
}

/* Articles reactions */
.article-reactions{
    display: flex;
    align-items: center;
    gap: 6px;
    -webkit-column-gap: 6px;
}

.article-reactions .reaction{
    display: flex;
    align-items: center;
    gap: 10px;
    -webkit-column-gap: 10px;
    padding: 8px 25px;
    border-radius: 5px;
    border: 1px solid #cecece94;
}

.article-reactions .reaction i{
    font-size: 20px;
    cursor: pointer;
}

.article-reactions .reaction span{
    font-size: 14px;
    font-weight: 600;
    color: #141b1f7a;
    padding-left: 10px;
    color: #448bb9;
    font-weight: 500;
    font-family: 'Nexa-Heavy';
    border-left: 2px solid #F6C37C;
}

.like-container {
    position: relative;
    display: inline-block;
}

.fireworks {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: scale(0.5);
}

.checked-like-fx {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 10px;
    left: 40px;
    border-radius: 50%;
    box-shadow:
        0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
        0 0 #fff;
    opacity: 0;
}

.animate-fireworks {
    animation: fireworks-bang 1.25s ease-out forwards,
               fireworks-gravity 1.25s ease-in forwards,
               fireworks-position 6.25s linear forwards;
    animation-duration: 1.25s, 1.25s, 6.25s;
    opacity: 1;
}

@keyframes fireworks-bang {
    to {
        box-shadow:
            114px -107px #8800ff, 212px -166px #a600ff, 197px -6px #ff006a,
            179px -329px #3300ff, -167px -262px #ff0062, 233px 65px #ff008c,
            81px 42px #0051ff, -13px 54px #00ff2b, -60px -183px #0900ff,
            127px -259px #ff00e6, 117px -122px #00b7ff, 95px 20px #ff8000,
            115px 1px #0004ff, -160px -328px #00ff40, 69px -242px #000dff,
            -208px -230px #ff0400, 30px -15px #e6ff00, 235px -15px #fb00ff,
            80px -232px #d5ff00, 175px -173px #00ff3c, -187px -176px #aaff00,
            4px 26px #ff6f00, 227px -106px #ff0099, 119px 17px #00ffd5,
            -102px 4px #ff0088, -16px -4px #00fff7, -201px -310px #00ffdd,
            64px -181px #f700ff, -234px -15px #00fffb, -184px -263px #aa00ff,
            96px -303px #0037ff, -139px 10px #0026ff, 25px -205px #00ff2b,
            -129px -322px #40ff00, -235px -187px #26ff00, -136px -237px #0091ff,
            -82px -321px #6a00ff, 7px -267px #ff00c8, -155px 30px #0059ff,
            -85px -73px #6a00ff, 60px -199px #55ff00, -9px -289px #00ffaa,
            -208px -167px #00ff80, -13px -299px #ff0004, 179px -164px #ff0044,
            -112px 12px #0051ff, -209px -125px #ff00bb, 14px -101px #00ff95,
            -184px -292px #ff0099;
    }
}

@keyframes fireworks-gravity {
    to {
        transform: translateY(200px);
        opacity: 0;
    }
}

@keyframes fireworks-position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}


/* End of reaction bloc */

.article-commits .title{
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 2;
    background-color: #fff;
    padding: 20px 0px;
}

.all-commits{
    display: flex;
    flex-direction: column;
    gap: 15px;
    -webkit-column-gap: 15px;
    border-top-left-radius: 5px;
    text-align: left;
}

.commit-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    -webkit-column-gap: 10px;
    padding: 20px 30px;
    border-radius: 5px;
    border: 1px solid #cecece94;
}

.reply{
    width: 90%;
    margin-left: auto;
    border: 1px solid #cecece94;
}

.commit-item{
    display: flex;
    gap: 10px;
    font-style: italic;
    -webkit-column-gap: 10px;
    align-items: center;
}

.commit-item i{
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #75747458;
}

.commit-item h4{
    color: #448bb9;
}

.commit-item .commit-date, .commit-hour{
    font-size: 13px;
    margin-top: 5px;
    font-weight: 600;
}

.commit-item .commit-date{
    color: #bbbbbb;
}

.commit-item strong, .commit-hour{
    font-size: 13px;
    color: #448bb9;
}

.commit-text {
    display: flex;
    flex-direction: column;
    font-style: italic;
    margin-top: 10px;
    font-size: 14px;
}

.feedback-content{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-style: italic;
    gap: 5px;
    -webkit-column-gap: 5px;
}

.feedback{
    display: flex;
    align-items: center;
    font-style: italic;
    gap: 5px;
    -webkit-column-gap: 5px;
    color: #448bb9;
}

.feedback span{
    font-size: 13px;
}

.feedback i{
    font-size: 28px;
}

.comments{
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px solid #cecece94;
}

.comments span{
    margin-top: 15px;
}

.comments form{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    -webkit-column-gap: 10px;
}

.comments form input{
    outline: none;
    background: unset;
    width: 100%;
    font-size: 13px;
    padding: 10px 20px;
    color: #141b1f7a;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #cecece94;
    font-family: 'Nexa-ExtraLight';
}

.comments form textarea{
    font-size: 13px;
    height: 150px;
    background: unset;
    margin-top: 1px;
}

.comments form input[type=submit]{
    color: #448bb9;
    font-weight: 600;
    padding: 15px 30px;
    width: 100%;
    border: none;
    width: fit-content;
    display: flex;
    color: #fff;
    background-color: #438bb8;
}

.brief-article{
    position: sticky;
    top: 10px;
    bottom: 0;
    z-index: 10;
    height: fit-content;
    font-style: italic;
    color: #448bb9;
}

.brief-article p{
    font-size: 15px;
    color: #141b1f7a;
    font-family: 'NexaBold';
    text-align: center;
    padding: 25px 20px;
    border-radius: 10px;
    border: 1px solid #cecece94;
}

.medias{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 15px;
    border-radius: 10px;
    border: 1px solid #cecece94;
    gap: 5px;
    -webkit-column-gap: 5px;
    margin-top: 10px;
}

.medias div{
    display: flex;
    align-items: center;
    gap: 5px;
    -webkit-column-gap: 5px;
}

.medias a{
    width: 45px;
    height: 45px;
    display: flex;
    font-size: 14px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition-delay: 0.4s;
    transition: 0.7s ease-in-out;
    border: 1px solid #75747458;
}

.medias a:hover{
    border: none;
    -webkit-animation: pulse 2s infinite;
    animation: pulse513 1.5s infinite;
}

/* Media query */
@media screen and (max-width: 1090px){
    .article-details{
        grid-template-columns: auto 40%;
    }
}

@media screen and (max-width: 900px){
    .article-details{
        grid-template-columns: auto;
    }
    .brief-article{
        position: relative;
    }
    .about-ntech{
        padding: 40px 40px;
    }
    .about-ntech img{
        width: 100px;
    }
}

@media screen and (max-width: 530px){
    .comments form input[type=submit]{
        width: 100%;
    }
    .reply{
        width: 95%;
    }
}

@media screen and (max-width: 480px){
    .article-reactions{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 400px){
    .article-text{
        text-align: left;
    }
}