/* --------------------- /
#Articles details
/ --------------------- */
.our-article{
    display: flex;
    flex-direction: column;
    gap: 20px;
    -webkit-column-gap: 20px;
}

.article-details-title h1{
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
    color: #438bb8;
}

.article-image img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.article-text{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    gap: 20px;
    -webkit-column-gap: 20px;
    text-align: justify;
}

.article-text h2{
    color: #438bb8;
}

.article-important-text{
    padding-left: 12px;
    font-style: italic;
    border-radius: 5px;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 5px solid #438bb8;
    border-bottom: 1px solid #ddddddf6;
}

.article-important-text i{
    font-size: 30px;
    font-style: italic;
    background: linear-gradient(to right, #438bb8, #F6C37C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.display-article{
    display: grid;
    gap: 30px;
    -webkit-column-gap: 30px;
    margin-top: 30px;
    grid-template-columns: auto 30%;
}

.second-bloc .our-article{
    margin-top: 40px;
}

.second-bloc .display-article{
    grid-template-columns: 100%;
    margin-bottom: 30px;
}

.brief-article{
    padding: 20px 20px;
    border-radius: 10px;
    height: fit-content;
    font-style: italic;
    color: #4879a4;
    border: 1px solid #cecece94;
}

.brief-article h4{
    font-size: 14px;
    background: linear-gradient(to right, #438bb8, #F6C37C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.medias{
    display: flex;
    align-items: center;
    gap: 5px;
    -webkit-column-gap: 5px;
    margin-top: 10px;
}

.medias div{
    display: flex;
    align-items: center;
    gap: 5px;
    -webkit-column-gap: 5px;
}

.medias a{
    width: 35px;
    height: 35px;
    display: flex;
    font-size: 13px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition-delay: 0.4s;
    transition: 0.7s ease-in-out;
    border: 1px solid #75747458;
}

.medias a:hover{
    border: none;
}

.comments{
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px solid #cecece94;
}

.comments span{
    margin-top: 15px;
}

.comments form{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    -webkit-column-gap: 10px;
}

.comments form input{
    outline: none;
    background: unset;
    width: 100%;
    font-size: 13px;
    padding: 10px 20px;
    color: #141b1f7a;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #cecece94;
    font-family: 'Nexa-ExtraLight';
}

.comments form textarea{
    font-size: 13px;
    height: 150px;
    background: unset;
    margin-top: 1px;
}

.comments form input[type=submit]{
    color: #4879a4;
    font-weight: 600;
    padding: 15px 30px;
    width: 100%;
    border: none;
    width: fit-content;
    display: flex;
    color: #fff;
    background-color: #438bb8;
}

.all-commits{
    display: flex;
    flex-direction: column;
    gap: 15px;
    -webkit-column-gap: 15px;
    border-top-left-radius: 5px;
    text-align: left;
}

.commit-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    -webkit-column-gap: 10px;
    padding: 20px 30px;
    border-radius: 5px;
    border: 1px solid #cecece94;
}

.reply{
    width: 90%;
    margin-left: auto;
    border: 1px solid #cecece94;
}

.commit-item{
    display: flex;
    gap: 10px;
    font-style: italic;
    -webkit-column-gap: 10px;
    align-items: center;
}

.commit-item i{
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #75747458;
}

.commit-item h4{
    color: #438bb8;
}

.commit-item .commit-date, .commit-hour{
    font-size: 13px;
    margin-top: 5px;
    font-weight: 600;
}

.commit-item .commit-date{
    color: #bbbbbb;
}

.commit-item strong, .commit-hour{
    font-size: 13px;
    color: #4879a4;
}

.commit-text {
    display: flex;
    flex-direction: column;
    font-style: italic;
    margin-top: 10px;
    font-size: 14px;
}

.feedback{
    display: flex;
    align-items: center;
    font-style: italic;
    justify-content: flex-end;
    gap: 5px;
    -webkit-column-gap: 5px;
    color: #438bb8;
}

.feedback span{
    font-size: 13px;
}

.feedback i{
    font-size: 28px;
}

/* Media query */
@media screen and (max-width: 1090px){
    .display-article{
        grid-template-columns: auto 40%;
    }
}

@media screen and (max-width: 900px){
    .display-article{
        grid-template-columns: auto;
    }

    .about-ntech{
        padding: 40px 40px;
    }
    .about-ntech img{
        width: 100px;
    }
}

@media screen and (max-width: 530px){
    .comments form input[type=submit]{
        width: 100%;
    }
    .reply{
        width: 95%;
    }
}

@media screen and (max-width: 400px){
    .article-text{
        text-align: left;
    }
}