/* ---------------------
#Reset 
----------------------*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/* ---------------------
#Title
----------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}


/*---------------------------/
#General
/-------------------------- */

.title {
    margin-top: 30px;
    text-align: center;
    padding-bottom: 50px;
}

.title h2 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}

.title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #1977cc;
    bottom: 0;
    left: calc(50% - 20px);
}

.title h2 {
    font-size: 28px;
}


/* ---------------------
#Body
----------------------*/

body {
    font-size: 1rem;
    color: #141b1fda;
    font-family: "Sulphur Point", sans-serif;
    background: url(../images/body-bg.png) fixed no-repeat;
    background-size: cover;
}

.padding {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 120px;
    padding-right: 120px;
}


/* Media query */

@media screen and (max-width: 870px) {
    .padding {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 430px) {
    .padding {
        padding-left: 20px;
        padding-right: 20px;
    }
}


/* ---------------------
#Header
----------------------*/

header {
    width: fit-content;
    padding: 20px 40px;
    margin: auto;
    margin-top: 20px;
    border-radius: 8px;
    position: fixed;
    top: 85%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 1px 10px #50505054;
}

header .header-content {
    display: flex;
    justify-content: center;
    gap: 60px;
    -webkit-column-gap: 60px;
}

header .header-content a i {
    font-size: 20px;
    color: #141b1fda;
}

header .header-content .header-items {
    position: relative;
    transition: all 0.2s;
}

header .header-content .header-items .tooltip {
    position: absolute;
    top: -220%;
    opacity: 0;
    border-radius: 4px;
    transition: all 0.3s;
    padding: 10px 10px;
    color: #252525dc;
    pointer-events: none;
    transform-origin: bottom;
    background-color: #fff;
    transform: translateX(-40%) scale(0.8);
    box-shadow: 0px 0px 10px #0a0a0a4d;
}

header .header-content .header-items .tooltip::before {
    position: absolute;
    content: "";
    height: 0.6em;
    width: 0.6em;
    bottom: -0.3em;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    background-color: #fff;
}

header .header-content .header-items:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(-50%) scale(1);
}

header .header-content .header-items:hover {
    transform: scale(0.9);
}


/* Media query */

@media screen and (max-width: 500px) {
    header {
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: 25px 0;
        border-radius: 0px;
        box-sizing: border-box;
    }
    header .header-content {
        justify-content: space-around;
        gap: 20px;
        -webkit-column-gap: 20px;
    }
    header .header-content .header-items .tooltip {
        top: -180%;
    }
}


/* ---------------------
#Cover page
----------------------*/

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to left, #263651fc 0%, #28303ea9 100%), url(../images/bg.jpg) fixed no-repeat;
    background-size: cover;
}

.text-container {
    display: flex;
    font-size: 24px;
    color: #fff;
}

.cursor {
    display: flex;
    background-color: #fff;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.text-box {
    margin-top: 15px;
    width: 65%;
    font-size: 22px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-box a {
    color: #fff;
    margin-top: 20px;
    width: fit-content;
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 20px;
    border: 1px solid #969696;
    transition-delay: 0.2s;
    transition: 0.6s ease-in-out;
}

.text-box a:hover {
    border: 1px solid #4d71b0;
    background-color: #4d71b0;
}


/* Media query */

@media screen and (max-width: 1190px) {
    .text-box {
        width: 100%;
    }
}

@media screen and (max-width: 590px) {
    .text-container {
        font-size: 20px;
    }
    .text-box {
        font-size: 18px;
    }
    .text-box a {
        font-size: 18px;
    }
}


/*------------------------/
#About us
/----------------------- */

.about-container {
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.about-container img {
    width: 60%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
}

.about {
    display: flex;
    padding: 60px 30px;
    width: 50%;
    flex-direction: column;
    font-style: italic;
    font-size: 18px;
    z-index: 2;
    margin-left: -80px;
    background: #0000001a;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 40px;
    border: 1px solid #ffffff1a;
    border-radius: 10px;
}

.about i {
    font-size: 30px;
    font-style: italic;
}

.about p {
    margin-top: 20px;
}


/* Media query */

@media screen and (max-width: 1120px) {
    .about-container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 780px) {
    .about {
        margin-left: -50px;
    }
    .about p {
        font-size: 16px;
    }
}

@media screen and (max-width: 680px) {
    .about-container {
        display: flex;
        flex-direction: column;
    }
    .about-container img {
        width: 100%;
        height: 300px;
    }
    .about {
        width: 100%;
        margin-top: -50px;
        margin-left: 60px;
        padding: 40px 25px;
    }
}

@media screen and (max-width: 432px) {
    .about {
        margin-left: 30px;
    }
}


/* ---------------------
#Mission
----------------------*/

.mission {
    background-color: #f5f5f5a8;
}

.list-items {
    padding-left: 100px;
    padding-right: 100px;
}

.list-items ul {
    display: flex;
    gap: 10px;
    -webkit-column-gap: 10px;
    justify-content: flex-end;
}

.list-items ul li {
    color: #4d71b0;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 15px;
    transition-delay: 0s;
    transition: 0.2s ease-in-out;
    background-color: #fff;
    box-shadow: 0px 1px 10px #c2c2c25d;
}

.list-items ul li.active {
    color: #fff;
    transition-delay: 0s;
    transition: 0.2s ease-in-out;
    background-color: #4d71b0;
}

.us {
    padding-left: 100px;
    padding-right: 100px;
}

.us div {
    display: flex;
    padding: 60px 30px;
    width: 80%;
    flex-direction: column;
    font-style: italic;
    z-index: 2;
    margin-right: -40px;
    background: #0000001a;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 40px;
    border: 1px solid #ffffff1a;
    border-radius: 10px;
}

.us div i {
    font-size: 25px;
    color: #8486556e;
    font-style: italic;
}

.us {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.us img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.goal {
    display: none;
}

.value {
    display: none;
}


/* .hidden {
    display: none;
}

.flex {
    display: flex;
} */


/* Media query */

@media screen and (max-width: 1200px) {
    .list-items,
    .us {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 960px) {
    .us {
        flex-direction: column;
    }
    .us div {
        width: 100%;
        margin-right: -30px;
    }
    .us img {
        margin-top: -30px;
    }
}

@media screen and (max-width: 470px) {
    .list-items ul {
        justify-content: center;
        flex-wrap: wrap;
    }
}


/*------------------------/
#Scroller
/----------------------- */

.hashtags {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    -webkit-column-gap: 15px;
}

.hashtags .tag-list li {
    padding: 10px 20px;
    background: #fff;
    border-radius: 25px;
    font-size: 14px;
    box-shadow: 0px 1px 10px #c2c2c25d;
}

.scroller {
    max-width: 80%;
}

.scroller-inner {
    padding-block: 0.2rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.scroller[data-animated=true] {
    margin: auto;
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated=true] .scroller-inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 60s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}


/*---------------------------/
#Newsletter
/-------------------------- */

.newsletter {
    width: 100%;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    -webkit-column-gap: 10px;
    background: linear-gradient(to right, #141b1fea 0%, #dde1e7a7 100%), url(../images/about/newsletter.jpg) fixed top;
    background-size: cover;
}

.newsletter div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
    -webkit-column-gap: 10px;
}

.newsletter div input {
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 25px;
    padding: 10px 20px;
    width: 20%;
    font-family: "Sulphur Point", sans-serif;
}

.newsletter div button {
    border: none;
    outline: none;
    padding: 12px 5px;
    border-radius: 25px;
    background-color: #0000001a;
    font-family: "Sulphur Point", sans-serif;
}

.newsletter div button span {
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #4d71b0;
}


/* Media query */

@media screen and (max-width: 1150px) {
    .newsletter div input {
        width: 40%;
    }
}

@media screen and (max-width: 1150px) {
    .newsletter div input {
        width: 60%;
    }
}

@media screen and (max-width: 400px) {
    .newsletter div {
        display: flex;
        flex-direction: column;
    }
    .newsletter div input {
        width: 100%;
    }
    .newsletter div button {
        margin-top: -25px;
        margin-left: auto;
    }
}


/*------------------------/
#Contact
/----------------------- */

.contact .contact-info .info {
    display: flex;
    gap: 10px;
    font-size: 0.8rem;
    margin-top: 20px;
    align-items: center;
    -webkit-column-gap: 10px;
}

.contact .contact-info .info div {
    display: flex;
    flex-direction: column;
}

.contact .contact-info .info div a {
    color: #000;
}

.contact .contact-info .info i {
    display: flex;
    width: 50px;
    height: 50px;
    font-size: 17px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 1px 10px #c2c2c25d;
}

.contact .contact-container {
    display: flex;
    gap: 40px;
    -webkit-column-gap: 40px;
}

.contact input,
textarea {
    outline: none;
    padding: 15px 15px;
    font-size: 0.8rem;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #cecece94;
    font-family: "Sulphur Point", sans-serif;
}

.contact .contact-input {
    width: 100%;
}

.contact .contact-input div {
    display: flex;
    gap: 15px;
    -webkit-column-gap: 15px;
}

.contact .contact-input button {
    border: none;
    outline: none;
    background: unset;
    width: fit-content;
    color: #fff;
    margin: auto;
    margin-top: 10px;
    padding: 15px 20px;
    border-radius: 30px;
    background-color: #141b1fda;
    transition-delay: 0.4s;
    transition: 0.8s ease-in-out;
    font-family: "Sulphur Point", sans-serif;
}

.contact .contact-input button:hover {
    background-color: #141b1ff5;
}


/* Media query */

@media screen and (max-width: 950px) {
    .contact .contact-container {
        display: flex;
        gap: 10px;
        flex-direction: column;
        -webkit-column-gap: 10px;
    }
}

@media screen and (max-width: 510px) {
    .contact .contact-input div {
        display: flex;
        gap: 0px;
        flex-direction: column;
        -webkit-column-gap: 0px;
    }
    .contact input,
    textarea {
        margin-top: 8px;
    }
}