/* ---------------------
#Reset 
----------------------*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}


/* ---------------------
#Title
----------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}


/*---------------------------/
#General
/-------------------------- */

.title {
    margin-top: 30px;
    text-align: center;
    padding-bottom: 50px;
}

.title h2 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}

.title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #1977cc;
    bottom: 0;
    left: calc(50% - 20px);
}

.padding {
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 30px;
}

.title h2 {
    font-size: 28px;
}


/* ---------------------
#Body
----------------------*/

body {
    font-size: 1rem;
    font-family: "Sulphur Point", sans-serif;
}

.padding {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 120px;
    padding-right: 120px;
}


/* Media query */

@media screen and (max-width: 870px) {
    .padding {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 430px) {
    .padding {
        padding-left: 20px;
        padding-right: 20px;
    }
}


/* ---------------------
#Header
----------------------*/

header {
    width: fit-content;
    padding: 20px 40px;
    margin: auto;
    margin-top: 20px;
    border-radius: 8px;
    position: fixed;
    top: 85%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #969696;
}

header .header-content {
    display: flex;
    justify-content: center;
    gap: 60px;
    -webkit-column-gap: 60px;
}

header .header-content a i {
    font-size: 20px;
    color: #141b1fda;
}

header .header-content .header-items {
    position: relative;
    transition: all 0.2s;
}

header .header-content .header-items .tooltip {
    position: absolute;
    top: -220%;
    opacity: 0;
    border-radius: 4px;
    transition: all 0.3s;
    padding: 10px 10px;
    color: #252525dc;
    pointer-events: none;
    transform-origin: bottom;
    background-color: #fff;
    transform: translateX(-40%) scale(0.8);
    box-shadow: 0px 0px 10px #0a0a0a4d;
}

header .header-content .header-items .tooltip::before {
    position: absolute;
    content: "";
    height: 0.6em;
    width: 0.6em;
    bottom: -0.3em;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    background-color: #fff;
}

header .header-content .header-items:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(-50%) scale(1);
}

header .header-content .header-items:hover {
    transform: scale(0.9);
}


/* Media query */

@media screen and (max-width: 500px) {
    header {
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: 25px 0;
        border-radius: 0px;
        box-sizing: border-box;
    }
    header .header-content {
        justify-content: space-around;
        gap: 20px;
        -webkit-column-gap: 20px;
    }
    header .header-content .header-items .tooltip {
        top: -180%;
    }
}


/* ---------------------
#Cover page
----------------------*/

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to left, #263651fc 0%, #28303ea9 100%), url(../images/bg.jpg) fixed no-repeat;
    background-size: cover;
}

.text-container {
    display: flex;
    position: relative;
    font-size: 24px;
    color: #fff;
}

.cursor {
    display: flex;
    background-color: #fff;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}


/* .bar {
    width: 100%;
    background-color: white;
    position: relative;
    animation: typing 4s steps(30);
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
} */

.text-box {
    margin-top: 15px;
    width: 65%;
    font-size: 22px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.text-box a {
    color: #fff;
    margin-top: 20px;
    width: fit-content;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 20px;
    border: 1px solid #969696;
}


/* Media query */

@media only screen and (max-width: 1190px) {
    .text-box {
        width: 100%;
    }
}

@media screen and (max-width: 590px) {
    .text-container {
        font-size: 20px;
    }
    .text-box {
        font-size: 18px;
    }
    .text-box a {
        font-size: 18px;
    }
}


/*------------------------/
#About us
/----------------------- */


/* .about-container {
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
} */

.all-items {
    gap: 25px;
    display: grid;
    -webkit-column-gap: 25px;
    grid-template-columns: auto auto;
}

.item-box {
    text-align: center;
    padding: 50px 30px;
    border-radius: 5px;
    height: fit-content;
    transition-delay: 0.4s;
    background-color: #fff;
    transition: 0.8s ease-in-out;
    box-shadow: 0px 1px 10px hsl(0, 0%, 91%);
}

.item-box p {
    margin-bottom: 0;
}

.item-box:nth-child(2) {
    margin-top: -40px;
}

.item-box:nth-child(4) {
    margin-top: -40px;
}

.item-box h4 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-box i {
    width: 60px;
    height: 60px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    background-color: #37517e;
    transition-delay: 0.4s;
    transition: 0.8s ease-in-out;
}

.item-box:hover {
    border: none;
    color: #fff;
    background-color: #37517e;
    box-shadow: 0px 1px 10px #37517e;
}

.item-box:hover i {
    box-shadow: none;
    color: #37517e;
    background-color: #fff;
}


/* Media query */

@media screen and (max-width: 1050px) {
    .about-container {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 600px) {
    .all-items {
        gap: 10px;
        display: grid;
        -webkit-column-gap: 10px;
        grid-template-columns: auto;
    }
    .item-box:nth-child(2) {
        margin-top: 0px;
    }
    .item-box:nth-child(4) {
        margin-top: 0px;
    }
}